@import "tailwindcss";
@plugin "daisyui";

/* Thin scrollbar style */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html,
body {
  background-color: #f0f2f5;
}

.Selected {
  background-color: rgb(211, 211, 211);
}
